.bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #fff; /* Dark Blue */
      color: #555555;
	  margin: 0 auto;
	  max-width:600px;
  }
  .bg-3 { 
      background-color: #fff; /* White */
      color: #555555;
  }
  h1 {
	  padding-top:20px;
	  padding-bottom:20px;
	  text-align:center;
  }
  h2{
	  padding-top:15px;
	  padding-bottom:15px;
	  text-align:center;
  }
   h3{
	  padding-top:15px;
	  padding-bottom:15px;
	  text-align:center;
  }
  p{
	  padding-top:15px;
	  padding-bottom:10px
  }
  .container-fluid{
	  padding-top:30px;
  }
  img{
	  padding-bottom:30px;
  }
  img.img-thumbnail{
	  display: block;
      margin: auto;
  }